
        <!DOCTYPE html>
        <html>
        <head>
          <meta charset="UTF-8">
          <title>KBO 순위</title>
          <style>
          body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            margin-top: 70px; /* 헤더의 높이만큼 내용을 아래로 밀어줍니다. */
        }
        header {
            background-color: #004687;
            color: #fff;
            padding: 20px;
            text-align: right; /* 텍스트를 오른쪽 정렬 */
        }
        .title-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .title-bar h1 {
            margin: 0;
        }
        nav {
            background-color: #002D64;
            padding: 10px;
            text-align: center;
        }
        nav ul {
            list-style-type: none;
            margin: 0 auto; /* 가운데 정렬 */
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 10px;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
        }
        nav ul li a:hover {
            background-color: #66A7FF;
        }
        .login-button,
        .signup-button {
            background-color: #007bff;
            border: none;
            color: white;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .login-button:hover,
        .signup-button:hover {
            background-color: #0056b3;
        }
        .main-content {
            padding: 20px;
        }
        .article {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
        }
        .article h2 {
            color: #004687;
        }
        .article p {
            color: #333;
        }
        footer {
            background-color: #004687;
            color: #fff;
            padding: 50px;
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
            margin-bottom: 20px;
        }
        th, td {
            padding: 8px;
            text-align: center;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
          </style>
        </head>
        <body>
        <header>
        <div class="title-bar">
            <h1>BASE</h1>
            <!-- 로그인 및 회원가입 버튼 추가 -->
            <div>
            <% if (isLoggedIn) { %>
                <span>환영합니다!</span>
                <a href="/logout" class="logout-button">로그아웃</a>
            <% } else { %>
                <a href="/login" class="login-button">로그인</a>
                <a href="/signup" class="signup-button">회원가입</a>
            <% } %>
            </div>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="/">홈</a></li>
            <li><a href="/ranking">순위</li>
            <li><a href="/schedule">경기 일정</a></li>
            <li><a href="/write">티켓 판매 게시판</a></li>
            <li><a href="/my_info">나의 정보</a></li>
        </ul>
    </nav>
    <main class="main-content">
        <article class="article">
            <h2>KBO 순위</h2>
            
          <table>
            <thead>
              <tr>
                <th>순위</th>
                <th>팀</th>
                <th>경기수</th>
                <th>승</th>
                <th>패</th>
                <th>무</th>
                <th>승률</th>
                <th>게임차</th>
                <th>연속</th>
                <th>출루율</th>
                <th>장타율</th>
                <th>최근10경기</th>
              </tr>
            </thead>
            <tbody>
              <tbody id="regularTeamRecordList_table">
        
            <tr>
                <th><strong>1</strong></th>
                <td class="tm">
                    <div>
                        
                            
                            
                                <span class="emblem"></span>
                            
                        
                        <span id="team_HT">KIA</span>
                    </div>
                </td>
                <td><span>71</span></td>
                <td><span>42</span></td>
                <td><span>28</span></td>
                <td><span>1</span></td>
                <td><strong>0.600</strong></td>
                <td><span>0.0</span></td>
                <td><span>4승</span></td>
                <td><span>0.365</span></td>
                <td><span>0.440</span></td>
                <td><span>6승-4패-0무</span></td>
            </tr>
        
            <tr>
                <th><strong>2</strong></th>
                <td class="tm">
                    <div>
                        
                            
                            
                                <span class="emblem"></span>
                            
                        
                        <span id="team_OB">두산</span>
                    </div>
                </td>
                <td><span>74</span></td>
                <td><span>41</span></td>
                <td><span>31</span></td>
                <td><span>2</span></td>
                <td><strong>0.569</strong></td>
                <td><span>2.0</span></td>
                <td><span>1승</span></td>
                <td><span>0.347</span></td>
                <td><span>0.427</span></td>
                <td><span>6승-4패-0무</span></td>
            </tr>
        
            <tr>
                <th><strong>3</strong></th>
                <td class="tm">
                    <div>
                        
                            
                            
                                <span class="emblem"></span>
                            
                        
                        <span id="team_LG">LG</span>
                    </div>
                </td>
                <td><span>73</span></td>
                <td><span>40</span></td>
                <td><span>31</span></td>
                <td><span>2</span></td>
                <td><strong>0.563</strong></td>
                <td><span>2.5</span></td>
                <td><span>1패</span></td>
                <td><span>0.377</span></td>
                <td><span>0.412</span></td>
                <td><span>4승-6패-0무</span></td>
            </tr>
        
            <tr>
                <th><strong>4</strong></th>
                <td class="tm">
                    <div>
                        
                            
                            
                                <span class="emblem"></span>
                            
                        
                        <span id="team_SS">삼성</span>
                    </div>
                </td>
                <td><span>71</span></td>
                <td><span>38</span></td>
                <td><span>32</span></td>
                <td><span>1</span></td>
                <td><strong>0.543</strong></td>
                <td><span>4.0</span></td>
                <td><span>3패</span></td>
                <td><span>0.344</span></td>
                <td><span>0.409</span></td>
                <td><span>5승-5패-0무</span></td>
            </tr>
        
            <tr>
                <th><strong>5</strong></th>
                <td class="tm">
                    <div>
                        
                            
                            
                                <span class="emblem"></span>
                            
                        
                        <span id="team_SK">SSG</span>
                    </div>
                </td>
                <td><span>71</span></td>
                <td><span>37</span></td>
                <td><span>33</span></td>
                <td><span>1</span></td>
                <td><strong>0.529</strong></td>
                <td><span>5.0</span></td>
                <td><span>1승</span></td>
                <td><span>0.352</span></td>
                <td><span>0.412</span></td>
                <td><span>6승-4패-0무</span></td>
            </tr>
        
            <tr>
                <th><strong>6</strong></th>
                <td class="tm">
                    <div>
                        
                            
                            
                                <span class="emblem"></span>
                            
                        
                        <span id="team_NC">NC</span>
                    </div>
                </td>
                <td><span>71</span></td>
                <td><span>34</span></td>
                <td><span>35</span></td>
                <td><span>2</span></td>
                <td><strong>0.493</strong></td>
                <td><span>7.5</span></td>
                <td><span>1패</span></td>
                <td><span>0.360</span></td>
                <td><span>0.417</span></td>
                <td><span>6승-3패-1무</span></td>
            </tr>
        
            <tr>
                <th><strong>7</strong></th>
                <td class="tm">
                    <div>
                        
                            
                            
                                <span class="emblem"></span>
                            
                        
                        <span id="team_HH">한화</span>
                    </div>
                </td>
                <td><span>70</span></td>
                <td><span>31</span></td>
                <td><span>37</span></td>
                <td><span>2</span></td>
                <td><strong>0.456</strong></td>
                <td><span>10.0</span></td>
                <td><span>2승</span></td>
                <td><span>0.350</span></td>
                <td><span>0.399</span></td>
                <td><span>4승-5패-1무</span></td>
            </tr>
        
            <tr>
                <th><strong>8</strong></th>
                <td class="tm">
                    <div>
                        
                            
                            
                                <span class="emblem"></span>
                            
                        
                        <span id="team_LT">롯데</span>
                    </div>
                </td>
                <td><span>69</span></td>
                <td><span>29</span></td>
                <td><span>38</span></td>
                <td><span>2</span></td>
                <td><strong>0.433</strong></td>
                <td><span>11.5</span></td>
                <td><span>2패</span></td>
                <td><span>0.341</span></td>
                <td><span>0.419</span></td>
                <td><span>5승-5패-0무</span></td>
            </tr>
        
            <tr>
                <th><strong>9</strong></th>
                <td class="tm">
                    <div>
                        
                            
                            
                                <span class="emblem"></span>
                            
                        
                        <span id="team_KT">KT</span>
                    </div>
                </td>
                <td><span>71</span></td>
                <td><span>29</span></td>
                <td><span>41</span></td>
                <td><span>1</span></td>
                <td><strong>0.414</strong></td>
                <td><span>13.0</span></td>
                <td><span>1승</span></td>
                <td><span>0.354</span></td>
                <td><span>0.410</span></td>
                <td><span>3승-7패-0무</span></td>
            </tr>
        
            <tr>
                <th><strong>10</strong></th>
                <td class="tm">
                    <div>
                        
                            
                            
                                <span class="emblem"></span>
                            
                        
                        <span id="team_WO">키움</span>
                    </div>
                </td>
                <td><span>69</span></td>
                <td><span>27</span></td>
                <td><span>42</span></td>
                <td><span>0</span></td>
                <td><strong>0.391</strong></td>
                <td><span>14.5</span></td>
                <td><span>1패</span></td>
                <td><span>0.341</span></td>
                <td><span>0.384</span></td>
                <td><span>4승-6패-0무</span></td>
            </tr>
        
        </tbody>
            </tbody>
          </table>
          <footer>
          <p>&copy; 2024 야구 홈페이지. BASE WEB.</p>
      </footer>
  
        </body>
        </html>
      