
    <!DOCTYPE html>
    <html>
      <head>
        <title>Baseball Schedule</title>
        <style>
          table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
          }
        </style>
      </head>
      <body>
        <table>
          <tr>
            <th>날짜</th>
            <th>시간</th>
            <th>경기 정보</th>
            <th>경기장</th>
            <th>취소 여부</th>
          </tr>
          
            <tr>
              <td>05.01(수)</td>
              <td>18:30</td>
              <td>삼성9vs2두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>키움6vs3롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>LG10vs1NC</td>
              <td>창원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KT1vs9KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>SSG8vs7한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.02(목)</td>
              <td>18:30</td>
              <td>삼성4vs2두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>키움5vs6롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>LG5vs4NC</td>
              <td>창원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KT12vs5KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>SSG4vs3한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.03(금)</td>
              <td>18:30</td>
              <td>두산6vs4LG</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>NC19vs5SSG</td>
              <td>문학</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>롯데8vs7삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>키움1vs2KT</td>
              <td>수원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>한화4vs2KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.04(토)</td>
              <td>14:00</td>
              <td>두산3vs2LG</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>NC8vs6SSG</td>
              <td>문학</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>롯데9vs2삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>키움2vs6KT</td>
              <td>수원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>한화2vs10KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.05(일)</td>
              <td>14:00</td>
              <td>두산vsLG</td>
              <td>잠실</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>NCvsSSG</td>
              <td>문학</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>롯데vs삼성</td>
              <td>대구</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>키움vsKT</td>
              <td>수원</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>한화vsKIA</td>
              <td>광주</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>05.07(화)</td>
              <td>18:30</td>
              <td>SSG4vs2LG</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>한화vs롯데</td>
              <td>사직</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KIAvs삼성</td>
              <td>대구</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>NCvsKT</td>
              <td>수원</td>
              <td>그라운드사정</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>두산13vs4키움</td>
              <td>고척</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.08(수)</td>
              <td>18:30</td>
              <td>SSG5vs8LG</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>한화1vs6롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KIA4vs2삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>NC6vs7KT</td>
              <td>수원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>두산6vs1키움</td>
              <td>고척</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.09(목)</td>
              <td>18:30</td>
              <td>SSG1vs3LG</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>한화5vs18롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KIA2vs5삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>NC2vs6KT</td>
              <td>수원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>두산5vs2키움</td>
              <td>고척</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.10(금)</td>
              <td>18:30</td>
              <td>KT3vs7두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>LG9vs1롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>삼성3vs10NC</td>
              <td>창원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>SSG4vs2KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>키움4vs5한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.11(토)</td>
              <td>14:00</td>
              <td>키움7vs1한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>KTvs두산</td>
              <td>잠실</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>LG2vs1롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>삼성3vs2NC</td>
              <td>창원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>SSGvsKIA</td>
              <td>광주</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>05.12(일)</td>
              <td>14:00</td>
              <td>LG6vs4롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>삼성7vs2NC</td>
              <td>창원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>키움3vs8한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>KT4vs12두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>SSG2vs3KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>KT4vs8두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>SSG10vs6KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.14(화)</td>
              <td>18:30</td>
              <td>키움5vs0LG</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>삼성2vs9SSG</td>
              <td>문학</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>롯데4vs7KT</td>
              <td>수원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>두산8vs5KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>NC5vs5한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.15(수)</td>
              <td>14:00</td>
              <td>키움vsLG</td>
              <td>잠실</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>삼성vsSSG</td>
              <td>문학</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>롯데vsKT</td>
              <td>수원</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>두산4vs8KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>NC16vs1한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.16(목)</td>
              <td>18:30</td>
              <td>키움6vs5LG</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>삼성12vs4SSG</td>
              <td>문학</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>롯데2vs0KT</td>
              <td>수원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>두산7vs7KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>NC4vs3한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.17(금)</td>
              <td>18:30</td>
              <td>롯데5vs1두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>한화5vs7삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KIA7vs4NC</td>
              <td>창원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>LG13vs5KT</td>
              <td>수원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>SSG5vs4키움</td>
              <td>고척</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.18(토)</td>
              <td>17:00</td>
              <td>롯데3vs8두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>한화8vs9삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>KIA7vs2NC</td>
              <td>창원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>LG7vs6KT</td>
              <td>수원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>SSG3vs0키움</td>
              <td>고척</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.19(일)</td>
              <td>14:00</td>
              <td>롯데3vs3두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>한화12vs2삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>KIA2vs1NC</td>
              <td>창원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>LG4vs10KT</td>
              <td>수원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>SSG3vs10키움</td>
              <td>고척</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.21(화)</td>
              <td>18:30</td>
              <td>SSG6vs8두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KIA1vs6롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KT8vs5삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>NC5vs3키움</td>
              <td>고척</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>LG4vs8한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.22(수)</td>
              <td>18:30</td>
              <td>SSG1vs3두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KIA2vs4롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KT1vs3삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>NC4vs3키움</td>
              <td>고척</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>LG5vs7한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.23(목)</td>
              <td>18:30</td>
              <td>SSG3vs10두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KIA6vs10롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KT9vs2삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>NC4vs6키움</td>
              <td>고척</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>LG8vs4한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.24(금)</td>
              <td>18:30</td>
              <td>NC4vs11LG</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>한화7vs5SSG</td>
              <td>문학</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>삼성11vs5롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>키움4vs5KT</td>
              <td>수원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>두산7vs5KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.25(토)</td>
              <td>14:00</td>
              <td>NC6vs10LG</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>두산2vs6KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>한화4vs2SSG</td>
              <td>문학</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>삼성6vs7롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>17:00</td>
              <td>키움2vs5KT</td>
              <td>수원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.26(일)</td>
              <td>14:00</td>
              <td>NC3vs6LG</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>한화vsSSG</td>
              <td>문학</td>
              <td>그라운드사정</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>삼성1vs9롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>키움vsKT</td>
              <td>수원</td>
              <td>우천취소</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>14:00</td>
              <td>두산2vs5KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.28(화)</td>
              <td>18:30</td>
              <td>KT12vs3두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>LG7vs5SSG</td>
              <td>문학</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>키움4vs3삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KIA11vs8NC</td>
              <td>창원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>롯데3vs12한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.29(수)</td>
              <td>18:30</td>
              <td>KT6vs12두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>LG13vs4SSG</td>
              <td>문학</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>키움11vs5삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KIA6vs3NC</td>
              <td>창원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>롯데0vs3한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.30(목)</td>
              <td>18:30</td>
              <td>KT1vs6두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>LG2vs8SSG</td>
              <td>문학</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>키움2vs4삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KIA11vs2NC</td>
              <td>창원</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>롯데0vs15한화</td>
              <td>대전</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>05.31(금)</td>
              <td>18:30</td>
              <td>LG0vs0두산</td>
              <td>잠실</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>NC0vs0롯데</td>
              <td>사직</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>한화0vs0삼성</td>
              <td>대구</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>KT0vs0KIA</td>
              <td>광주</td>
              <td>-</td>
            </tr>
          
            <tr>
              <td>-</td>
              <td>18:30</td>
              <td>SSG0vs0키움</td>
              <td>고척</td>
              <td>-</td>
            </tr>
          
        </table>
      </body>
    </html>
  